* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
.env export-ignore
.env.example export-ignore
.php-cs-fixer.dist.php export-ignore
.phpunit.result.cache export-ignore